<footer>
    <div class="copyright">
        &copy; {{year}} {{name}}. All Rights Reserved.
    </div>
    <p style="font-size: 12px;" id="commitMessage">{{commitMessage}}</p>
    <div class="photography-link">
        <!--<a href="{{photographyLink}}" target="_blank" rel="noopener noreferrer">
            Visit My Photography Page
        </a> -->
    </div>
</footer>
</body>
</html>