<footer>
    <div class="copyright">
        &copy; {{year}} {{name}}. All Rights Reserved.
    </div>
    <div class="photography-link">
        <!--<a href="{{photographyLink}}" target="_blank" rel="noopener noreferrer">
            Visit My Photography Page
        </a> -->
    </div>
</footer>