<div class="top-link">
    <a href="/resume" target="_blank" class="resume-link">
        In a hurry? View my resume here!
    </a>
</div>
<div class="container-fluid d-flex align-items-center justify-content-center name-container">
    <div class="row text-center">
        <div class="col-14">
                <div class="col-6">
                    <div class="text-container">
                        <span class="animated-text"></span>
                        <span class="wipe-mask"></span>
                    </div>
                </div>
            <p class="saria-devName">RYAN ESKRIDGE</p>
            <p class="saria-subtitle">Springfield, Missouri, USA</p>
        </div>
    </div>
    <div class="marker"></div>
    <div class="chevron-container">
        <div id="chevron" class="chevron fas fa-chevron-down"></div>
    </div>
</div>
<div class="d-flex vh-100">
    <div class="card-container container-fluid text-center">
        <p class="saria-heading">Tech Stack</p>
        <!-- First Row -->
        <div class="row text-center justify-content-center">
            <div class="col-auto">
                <div class="card slide-right">
                    <!-- express.js -->
                    <div class="saria-card-title">Express.js</div>
                    <div class="saria-card-text">Fast, unopinionated, minimalist web framework for Node.js</div>
                    <img src="/img/express.png" alt="test" class="card-image image-medium">
                </div>
            </div>
            <div class="col-auto">
                <div class="card slide-up">
                    <!-- Handlebars -->
                    <div class="saria-card-title">Handlebars</div>
                    <div class="saria-card-text">A templating engine for creating dynamic HTML.</div>
                    <img src="/img/handlebars.png" alt="test" class="card-image image-medium">
                </div>
            </div>
             <div class="col-auto">
                <div class="card slide-down">
                    <!-- Python -->
                    <div class="saria-card-title">Python</div>
                    <div class="saria-card-text">A versatile programming language for building applications.</div>
                    <img src="/img/python.png" alt="test" class="card-image image-medium">
                </div>
            </div>
        </div>
        <!-- Second Row -->
        <div class="row text-center justify-content-center">
             <div class="col-auto">
                <div class="card slide-left">
                    <!-- C++ -->
                    <div class="saria-card-title">C++</div>
                    <div class="saria-card-text"> A powerful language for system and application development.</div>
                    <img src="/img/cpp.png" alt="test" class="card-image image-medium">
                </div>
            </div>
             <div class="col-auto">
                <div class="card left slide-down">
                    <!-- Vue.js -->
                    <div class="saria-card-title">Vue.js</div>
                    <div class="saria-card-text">A performant and versatile framework for building web user interfaces</div>
                    <img src="/img/Vue.png" alt="test" class="card-image image-medium">
                </div>
            </div>
            <div class="col-auto">
                <div class="card slide-right">
                    <div class="saria-card-title">SQLite</div>
                    <div class="saria-card-text">A C-lib that implements a small, fast, self-contained, SQL database engine.</div>
                    <img src="/img/SQLite.png" alt="test" class="card-image image-medium">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex vh-100">
    <div class="card-container container-fluid text-center">
        <p class="saria-heading">Projects</p>
        <div class="row text-center justify-content-center">
            <div class="col-auto">
                <div class="card-large slide-right">
                    <!-- SmellsPhishy -->
                    <div class="saria-card-text-large">
                        A simple security tool that enables IT admins to test their users suseptibility to Phishing attacks. Capstone project built while attending Missouri State University.
                        <br>
                        <br>
                        Tech: express.js, handlebars, sequelize
                        <br>
                        <a href="https://github.com/RyanEskridge/SmellsPhishy" alt="A link to the SmellsPhishy Github repository.">Github</a>
                    </div>
                    <img src="/img/clown-fish.png" alt="test" class="card-image image-large">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex h-auto">
    <div class="card-container container-fluid text-center">
         <p class="saria-heading">Education</p>
         <div class="row text-center justify-content-center">
           <div class="col-auto">
                <div class="card-xlarge">
                    <img src="/img/msu.png" alt="Springfield University Logo" class="card-logo" style="width: 50%; padding: 1em;">
                    <h3 class="">Bachelor of Science in Computer Science</h3>
                    <h5 class="">Minor of Mathematics</h5>
                    <p class="card-description">2020 - 2024</p>
                    <p class="card-description">
                        Relevant Courses: Data Structures, Algorithms, Machine Learning, Data Mining, Web Programming, and Database Systems.
                    </p>
                    <h4 class="">Certificate in Web Programming</h4>
                </div>
            </div>
         </div>
    </div>
</div>
<div class="d-flex h-auto">
    <div class="card-container container-fluid text-center">
        <p class="saria-heading">Connect With Me</p>
        <div class="row text-center justify-content-center">
             <div class="col-auto">
                <div class="card-social">
                    <a href="https://github.com/RyanEskridge" target="_blank">
                        <img src="" alt="Github Logo" class="github-logo card-image-social image-small">
                    </a>
                </div>
             </div>
             <div class="col-auto">
                <div class="card-social">
                    <a href="http://www.linkedin.com/in/ryan-eskridge-1992321b7" target="_blank">
                        <img src="" alt="LinkedIn Logo. Lovingly retouched by a nitpicky developer." class="linkedin-logo card-image image-small">
                    </a>
                </div>
             </div>
             <div class="col-auto">
                <div class="card-social">
                    <a href="mailto:eskridgeryan@gmail.com" target="_blank">
                        <img src="/img/mail.png" alt="Generic Email icon." class="card-image image-small">
                    </a>
                </div>
             </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener('scroll', function () {
            let num = window.scrollY / window.innerHeight;
            let x = 0;
            if (window.scrollY >= 372) {
                chevron.style.transition = 'opacity 0.5s ease-in-out';
                document.getElementById('chevron').style.opacity = 0;
            }
            if (num <= 1) {
                document.getElementById('chevron').style.opacity = 1 - (num * 3 );
            }
        }, false);

        const strings = ["Developer", "Designer", "Contributor", "Problem Solver", "Shameless Dancer", "Friend"];
        const textElement = document.querySelector(".animated-text");
        let index = 0;

        function updateText() {
            textElement.textContent = strings[index];
            index = (index + 1) % strings.length;
        }

        
        textElement.addEventListener("animationiteration", updateText);
        updateText();
    });
</script>