/* MAIN STYLES */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Saira", sans-serif;
    color: #000;
    background-color: #fff;
}

h1 {
    color: #fff;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 700;
}

h2 {
    color: #fff;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 700;
}

h3 {
    color: #fff;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 700;
}

h4 {
    color: #fff;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 700;
}

h5 {
    color: #fff;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 700;
}

h6 {
    color: #fff;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 700;
}


.saria-devName {
    font-family: "Saira", sans-serif;
    font-size: 100px;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: -0.30em;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-variation-settings:
        "wdth" 700;
}

.saria-subtitle {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-top: -1em;
    padding-top: 0px;

    font-variation-settings:
        "wdth" 700;
}

.animated-text {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-left: 0px;
    position: relative;
    z-index: 1;
    animation: fade 3250ms linear infinite;
    line-height: 1; 
}

.saria-heading {
    font-family: "Saira", sans-serif;
    font-size: 80px;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0px;
    font-variation-settings:
        "wdth" 700;
}

.saria-card-text {
    color: #fff;
    width: 100%;
    font-family: "Saira", sans-serif;
    font-size: clamp(1rem, 2vw, 30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 10px 0px 10px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    font-variation-settings:
        "wdth" 700;
}

.saria-card-text-large {
    color: #fff;
    width: 100%;
    font-family: "Saira", sans-serif;
    font-size: 0.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 10px 0px 10px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    font-variation-settings:
        "wdth" 700;
}

.saria-card-title {
    font-family: "Saira", sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    color: #ffffff;
    margin: 0em;
    text-align: center;
}

.text-container {
    position: relative;
    display: flex;
    align-items: center; 
    font-size: 1em; 
    font-weight: normal;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-left: 8px;
}

.wipe-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 107%;
    animation: wipe 3250ms linear infinite;
    z-index: 2;
}

.name-container {
    margin-top: -100px;
    min-height: 100vh;
    margin-bottom: 10em;
}

.card-image {
    position: relative;
    transition: transform 0.25s ease-in-out;
    padding: 0px;
}

.image-small {
    height: 100%;
}

.image-medium {
    height: 80%;
}

.image-large {
    height: 100%;
}

.card-image-social:hover {
    opacity: 0.5;
}

.card {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 18vw;
    min-width: 400px;
    max-width: 400px;
    aspect-ratio: 11 / 7;
    margin: 0.5vw;
    border: 2px solid #3d3d3d;
    background-color: #202020;
    overflow: hidden;
}

.card-large {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30vw;
    min-width: 400px;
    max-width: 550px;
    aspect-ratio: 14 / 8;
    border: 2px solid #3d3d3d;
    border-radius: 15px;
    background-color: #202020;
    overflow: hidden;
}

.card-xlarge {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40vw;
    min-width: 400px;
    max-width: 600px;
    margin: 0.5em;
    margin-bottom: 20em;
    border: 2px solid #3d3d3d;
    border-radius: 15px;
    background-color: #202020;
    overflow: hidden;
}

.card-social {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    margin: 0.5em;
    overflow: hidden;
    margin-bottom: 15em;
}

.card-description {
    color: #fff;
}

.resume-link {
    font-family: "Saira", sans-serif;
    position: absolute;
    width: 20vh;
    top: 10px; 
    right: 10px; 
    font-size: 2vh;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
}

.resume-link:hover {
    color: #b3b3b3; 
}

.slide-right:hover .card-image {
    transform: translateX(100%);
}

.slide-left:hover .card-image {
    transform: translateX(-100%);
}

.slide-up:hover .card-image {
    transform: translateY(-150%);
}

.slide-down:hover .card-image {
    transform: translateY(110%);
}

.card:hover .saria-card-text {
    opacity: 1; 
}

.card-large:hover .saria-card-text {
    opacity: 1; 
}

.card-large:hover .saria-card-text-large {
    opacity: 1; 
}

.col-auto {
    padding: 0;
}

.chevron-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    pointer-events: none;
}

.chevron {
    font-size: 2em; 
    color: #a5a5a5;
    animation: bounce 2s infinite;
    transition: opacity 0.5s ease-in-out;
}

@keyframes wipe {
    0% {
        left: 0;
        width: 100%;
    }
    20% {
        left: 100%;
        width: 0%;
    }
    70% {
        left: 100%;
        width: 0%; /* Pause here */
    }
    100% {
        left: 0;
        width: 0%;
    }
}

@keyframes fade {
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    body {
        color: #000;
        background-color: #fff;
    }

    .wipe-mask {
        background-color: #fff;
    }

    .text-container {
        color: #000;
    }

    .resume-link {
        color: #000000; 
    }

    .github-logo {
        display: block;
        content: url('/img/github-light.png');

    }

    .linkedin-logo {
        display: block;
        content: url('/img/linkedin-light.png');

    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #121212;
    }

    .wipe-mask {
        background-color: #121212;
    }

    .text-container {
        color: #fff;
    }

    .github-logo {
        display: block;
        content: url('/img/github-dark.png');

    }
    
    .linkedin-logo {
        display: block;
        content: url('/img/linkedin-dark.png');

    }
}

@media (max-width: 1000px) {
    .resume-link {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center;
        top: 0; 
        right: 0; 
        margin-bottom: 20px;
    }

    .text-container {
        position: relative; 
        display: block;
        text-align: center;
    }
}

/* FOOTER STYLES */
footer {
    text-align: center; 
    padding: 10px 10px;
    background-color: #5e5e5e; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
}

footer a {
    color: #007BFF; 
    text-decoration: none; 
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; 
}

hr {
    border: none;
    border-top: 1px solid #ccc; 
    margin: 10px auto; 
    width: 80%;
}

.copyright {
    margin: 10px 0;
    font-size: 0.9em;
}

.photography-link {
    margin: 5px 0;
}